extends layout 

block content 
  h1(class="m-auto text-center")=title 

  form(method="POST" class="max-w-md m-auto")
    div(class="form-group flex flex-col")
      label(for="name") Nome:
      input#name(type="text" class="w-full" placeholder="Belinha, Totó, Irineu..." name="name" required value=(pet===undefined ? "" : pet.name)) 
    div(class="form-group flex flex-col")
      label(for="species") Espécie: 
      input#species(type="text" class="w-full" placeholder="Cão, gato, tartarugo..." name="species" required value=(pet===undefined ? "" : pet.species))
    div(class="form-group flex flex-col")
      label(for="description") Descrição: 
      input#description(type="text" class="w-full" placeholder="Pêlo curto, cor caramelo..." name="description" value=(pet===undefined ? "" : pet.description))
    div(class="form-group flex justify-between")
      div
        label(for="weight" class="mr-4") Peso (kg):
        input#weight(type="text" class="w-20" name="weight" value=(pet===undefined ? "" : pet.weight))
      div  
        label(for="sex" class="mr-4") Sexo:
        select#sex(name="sex")
          option(value="" selected=(pet===undefined || pet.sex === "")) 
          option(value="macho" selected=(pet && pet.sex === "macho")) Macho
          option(value="fêmea" selected=(pet && pet.sex === "fêmea")) Fêmea
    div(class="form-group flex justify-between items-center")
      label(for="date_of_birth") Data de nascimento (aproximada):
      input#date_of_birth(type='date' name='date_of_birth' value=(undefined===pet ? '' : birthDate) )
      //- input#date_of_birth(type='date' name='date_of_birth')
    div(class="form-group flex flex-col")
      label(for="tutor") Nome do tutor:
      select#tutor(name="tutor" value=(pet===undefined ? "" : pet.tutor))
        option(value="") Selecione um tutor
        for tutor in tutors
          if pet 
            if tutor._id.toString()===pet.tutor._id.toString()
              option(value=tutor._id selected) #{tutor.name}
            else
              option(value=tutor._id) #{tutor.name}
          else
            option(value=tutor._id) #{tutor.name}

    div(class="flex justify-between")  
      if update
        div(class="flex flex-col")
          label(for="passsword") Digite a senha para confirmar alteração:
          input#password(type="password" name="password" required)
      button(type="submit" class="btn") Enviar

    if errors
      ul
        for error in errors
          li(class="text-red-800")!= error.msg