extends layout 

block content 
  h1(class="m-auto text-center")=title 
  
  p <span class="font-medium">Espécie:</span> #{pet.species}
  p <span class="font-medium">Descrição:</span> #{pet.description}
  p <span class="font-medium">Peso:</span> 
    if pet.weight
      | #{weight} kg
  p <span class="font-medium">Sexo:</span> #{pet.sex}
  p <span class="font-medium">Idade:</span> #{pet.age}
  p <span class="font-medium">Data de nascimento:</span> #{pet.date_of_birth_formatted}
  p <span class="font-medium">Tutor:</span>
    if pet.tutor
      a(href=`/registry/tutor/${pet.tutor._id}`)  #{pet.tutor.name}
    else 
      |  Não especificado
  br
  a(href=`/registry/pet/${pet.id}/update` class="text-red-800") Modificar pet
  br
  a(href=`/registry/pet/${pet.id}/delete` class="text-red-800") Remover pet
