extends layout 

block content 
  h1=title 

  form(method="POST")
    div.form-group 
      label(for="name") Nome:
      input#name(type="text" placeholder="Belinha, Totó, Irineu..." name="name" required value=(pet===undefined ? "" : pet.name)) 
    div.form-group
      label(for="species") Espécie: 
      input#species(type="text" placeholder="Cão, gato, tartarugo..." name="species" required value=(pet===undefined ? "" : pet.species))
    div.form-group
      label(for="description") Descrição: 
      input#description(type="text" placeholder="Pêlo curto, cor caramelo..." name="description" value=(pet===undefined ? "" : pet.description))
    div.form-group
      label(for="weight") Peso (kg):
      input#weight(type="text" name="weight" value=(pet===undefined ? "" : pet.weight))
    div.form-group
      label(for="sex") Sexo:
    select#sex(name="sex")
      option(value="" selected=(pet===undefined || pet.sex === "")) 
      option(value="macho" selected=(pet && pet.sex === "macho")) Macho
      option(value="fêmea" selected=(pet && pet.sex === "fêmea")) Fêmea
    div.form-group
      label(for="date_of_birth") Data de nascimento (aproximada):
      input#date_of_birth(type='date' name='date_of_birth' value=(pet===undefined ? '' : pet.date_of_birth) )
    div.form-group
      label(for="tutor") Nome do tutor:
      select#tutor(name="tutor" value=(pet===undefined ? "" : pet.tutor))
        option(value="") Selecione um tutor
        for tutor in tutors
          if pet 
            if tutor._id.toString()===pet.tutor._id.toString()
              option(value=tutor._id selected) #{tutor.name}
            else
              option(value=tutor._id) #{tutor.name}
          else
            option(value=tutor._id) #{tutor.name}
      
    button.btn(type="submit") Enviar

    if errors
      ul
        for error in errors
          li!= error.msg