extends layout 

block content 
  h1(class="m-auto text-center")=title
  p <span class="font-medium">Telefone:</span> #{tutor.phone}
  p <span class="font-medium">E-mail:</span> #{tutor.email}
  p <span class="font-medium">Endereço:</span> #{tutor.address}
  p <span class="font-medium">Pets:</span>
  ul(class="list-disc ml-8")
    for pet in pets 
      li 
        a(href=`/registry/pet/${pet._id}`) #{pet.name}
  br
  a(href=`/registry/tutor/${tutor.id}/update` class="text-red-800") Modificar tutor
  br
  a(href=`/registry/tutor/${tutor.id}/delete` class="text-red-800") Remover tutor
  