extends layout 

block content 
  h1(class="m-auto text-center")=title
  p Telefone: #{tutor.phone}
  p E-mail: #{tutor.email}
  p Endereço: #{tutor.address}
  p Pets: 
  ul(class="list-disc ml-8")
    for pet in pets 
      li 
        a(href=`/registry/pet/${pet._id}`) #{pet.name}
  br
  a(href=`/registry/tutor/${tutor.id}/delete` class="text-red-800") Remover tutor
  